* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #1c8575 20%, #d0d3cd 20%);
}

#app {
    width: 80vw;
    height: 95vh;
    margin-top: 5vh;
}

#header {
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
    max-height: 100px;
}

.avatar {
    border-radius: 50%;
    max-height: 80px;
    margin: 10px;
}

#header .left-side, #header .right-side {
    display: flex;
    justify-content: space-between;
}

.left-side h6, .right-side h6 {
    align-self: center;
}

.header-user p {
    font-size: x-small;
    font-style: italic;
    padding-top:60px;
    transform: translateX(-120%)
}

.header-user, .header-icons{
    display: flex;
}

.header-icons {
    align-items: center;
    justify-content: right;

}

.header-icons i {
    color: #b1b1b1;
    margin: 5px;
    font-size: 20px;
    padding: 2%;
 
}

#main-chat .row .left-side {
    min-height: 75vh;
    background-color: #eaeaea;
}

#main-chat .row .left-side .row {
    min-height: 10vh;
    display: flex;

}



.contact-photo {
    display: flex;
}

.contact-name {
    margin-top: 20px;
}


#main-chat .row .left-side #alert {
    background-color: #7ed1fb;
}

#main-chat .row .left-side .row i {
    font-size: 20px;
    height: 50px;
    width: 50px;
    background-color: white;
    padding: 13px;
    border-radius: 50%;
    margin-top: 12px;
    margin-right: 10px;
    color: #7ed1fb;
    vertical-align: center;
    float: left;
    
}
#notifiche {
    font-size: 15px;
    margin-top: 20px;
    font-weight: 600;
    word-wrap: normal;
    overflow-wrap: normal;
}

#main-chat .row .left-side .row a {
    line-height: 1px;
    font-size: small;
    padding-bottom: 30px;
}

#main-chat .row .left-side #search-bar {
    background-color: #fff;
}

#main-chat .row .left-side #search-bar input {
    border-radius: 5px;
    max-width: 90%;
    margin: auto;
    max-height: 30px;
    align-self: center;
}

.active {
    background-color:#e5e6e6;
}

.thumbnails img {
    max-width: 60px;
    align-self: left;
}

#main-chat .right-side {
    background-image: url(img/mine.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-msg-area {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}


.main-msg-area .container {
    padding: 10px 30px;
}


.msg-rcvd, .msg-sent {
    max-width: 400px;
    text-overflow: wrap;
    border-radius: 5px;
    margin: 10px 30px;
    line-height: 10px;
    vertical-align: center;
}

.msg-rcvd {
    background-color: #fff;
    
}

.msg-sent {
    background-color: #cefbac;
    margin-left: auto;
}

#message-bar {
    background-color: #f1eae4;
    min-height: 80px;

}

#message-bar i {
    font-size: 30px;
    color: #b1b1b1;
}

#message-bar div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#message-bar input {
    border-radius: 5px;
    min-height: 40px;
    min-width: 90%;
    align-self: center;
    padding: 5px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.msg-text {
    padding: 10px 10px 0 10px;
}

.msg-date, .msg-status {
    padding: 10px;
    font-size: x-small;
    font-style: italic;
    text-align: right;
    color: grey;
}


.text-preview, .date-preview {
    padding: 0;
    line-height: 3px;    
    font-size: small;
    font-style: italic;
} 
